<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AddGoal</servlet-name>
		<servlet-class>com.smorg.backend.AddGoalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddGoal</servlet-name>
		<url-pattern>/addgoal</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GetGoals</servlet-name>
	    <servlet-class>com.smorg.backend.GetGoalsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GetGoals</servlet-name>
	    <url-pattern>/getgoals</url-pattern>
	</servlet-mapping>
		<servlet>
	    <servlet-name>RemoveGoal</servlet-name>
	    <servlet-class>com.smorg.backend.RemoveGoalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RemoveGoal</servlet-name>
	    <url-pattern>/removegoal</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>addevent</servlet-name>
	    <servlet-class>com.smorg.backend.AddEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>addevent</servlet-name>
	    <url-pattern>/addevent</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>getevents</servlet-name>
	    <servlet-class>com.smorg.backend.GetEventsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>getevents</servlet-name>
	    <url-pattern>/getevents</url-pattern>
	</servlet-mapping>
	
		
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
